/* PRODUCTS */

.parts {
    margin-bottom: calc(var(--bs-gutter-x));
}

.part {
    display: flex;
    height: 100%;
    padding: 1rem;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid;
    border-radius: 3%;
}

.part img {
    max-width: 300px;
    margin: 0 auto 2rem;
}

.part h5 {
    height: auto;
    cursor: default;
}

.product {
    margin: 3rem 0;
}

.product img {
    width: 100%;    
    filter: drop-shadow(2px 4px 6px black);
    padding: 2rem 5rem;
}

.productColor, .product-text {
    margin-top: 32px !important;
}

.productColor p {
    line-height: 1;
}

.products {
    margin-top: 1rem;
}

.color {
    height: 50px;
    width: 50px;
    /* margin: 15px;
    margin-left: 0; */
    border: 1px solid black;
}

.color:hover {
    cursor: pointer;
}

@media (max-width: 768px) {
    .product {
        flex-direction: row;
        margin-bottom: 3rem;
    }

    .product img {
        padding: 2rem 3rem;
    }

    .product.column {
        flex-direction: column;
    }

    .productColor {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: -2rem;
        margin-top: 0 !important;
    }

    .product-text {
        margin-left: 0px;
    }

    .product-text h2 {
        margin-top: -2rem;
        margin-bottom: 2rem;
    }

}

@media(max-width: 380px) {
    .product img {
        padding: 2rem 2rem;
    }
}

/* TABS */

.tab {
    border: 2px solid black;
    border-bottom: 1px solid grey;
    box-shadow: inset 0px -4px 10px grey;
    border-radius: 10px 10px 0 0;
    text-align: center;
    background-color: lightgray;
    cursor: pointer;
}

.tab h5 {
    margin: 0.3rem;
    text-transform: uppercase;
}

.tabs {
    margin-top: 1rem;
}

.tabs::after {
    content: '';
    display: block;
    height: 1px;
    background: black;
    width: 100%;
}

.activeTab {
    background-color: #f5f5f5;
    cursor: default;
    position: relative;
    height: calc(100% + 1px);
    border-bottom: 1px solid #f5f5f5;
    box-shadow: 0px -8px 8px grey;
}

@media (max-width: 992px){
    .tab h5 {
        height: 2.6rem;
    }
}

@media (max-width: 768px) {
    .tab {
        border-bottom: 1px solid black;
        border-radius: 10px;
        box-shadow: none;
        margin: 0.3rem;
    }

    .tab h5 {
        height: auto;
    }

    .activeTab {
        height: 100%;
        border-bottom: 1px solid black;
        box-shadow: none;
        height: auto;
    }

    .tabs::after {
        height: 0px;
    }
}

/* MAIN BANNER */

.main-banner {
    background-image: url("../../images/banners/main_banner.jpg");
    background-size: cover;
    background-position: center;
    height: 550px;
    justify-content: space-evenly;
    flex-direction: column;
    margin: auto;
    filter: brightness(0.9);
}

@media(max-width: 992px) {
    .container-banner {
        max-width: 100% !important;
        padding: 0px !important;
    }

    .container-banner .col-12 {
        padding: 0px !important;
    }

    .container-banner .row {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}

.main-banner > h1 {
    background: rgb(255,255,255);
    background: linear-gradient(
        90deg,
        rgba(255,255,255,1) 0%,
        rgba(255,255,255,33%) 100%);
    left: 3%;
    position: relative;
    padding-left: 1rem;
    width: 97%;
    font-weight: 750;
}

/* LANGS */

.langs {
    background-color: lightgray;
    justify-content: flex-end;
    filter: drop-shadow(0px 1px 15px gray);
}

.lang {
    margin: 0 0.5rem;
    padding: 0.3rem;
}

.lang:hover {
    background: grey;
    filter: drop-shadow(0px 6px 15px gray);
    color: white;
    cursor: pointer;
}

.flag img {
    max-width: 1.3rem;
    margin-right: 0.2rem;
}

@media(max-width: 768px) {
    .lang-text {
        display: none;
    }

    .flag img {
        max-width: 1.8rem;
        margin-right: 0rem;
    }
}

/* MAIN */

body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5 !important;    
}

html::-webkit-scrollbar {
    width: 0;
  }

.flex {
    display: flex;
}