/* PRODUCTS */

.parts {
    margin-bottom: calc(var(--bs-gutter-x));
}

.part {
    display: flex;
    height: 100%;
    padding: 1rem;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid;
    border-radius: 3%;
}

.part:hover {
    background: #b5b5b5;
    color: black;
    filter: drop-shadow(4px 2px 6px black);
}

.part img {
    max-width: 300px;
    margin: 0 auto 2rem;
}

.part h5 {
    height: auto;
    cursor: default;
}

.product {
    margin: 3rem 0;
}

.product::after {
    content: '';
    display: block;
    height: 2px;
    width: 100%;
    background: black;
    margin-top: 5rem;
    border-radius: 50%;
    filter: drop-shadow(0px 0px 7px black);
}

.dark .product::after {
    background: var(--color-dark);
    filter: drop-shadow(0px 0px 7px var(--color-dark));
}

.product img {
    width: 100%;    
    filter: drop-shadow(-4px 2px 4px black);
    padding: 2rem 0rem;
    margin-left: -13px;
}

.product-text {
    margin-top: 29px !important;
}

.productColor {
    margin-top: 32px !important;
    cursor: default;
}

.productColor h5 {
    text-align: center;
}

.productColor p {
    line-height: 1;
    width: 70px;
    margin: 0 auto;
    margin-bottom: 1rem;
    text-align: center;
}

.products {
    margin-top: 1rem;
}

.color {
    height: 60px;
    width: 60px;
    border: 1px solid black;
    margin: 0 auto;
}

.color:hover {
    cursor: pointer;
}

@media (max-width: 768px) {
    .product {
        flex-direction: row;
        margin-bottom: 3rem;
    }

    .product img {
        padding: 2rem 3rem 2rem 0;
        margin-left: -7px;
    }

    .product.column {
        flex-direction: column;
    }

    .productColor {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: -2rem;
        margin-top: 0 !important;
    }

    .product-text {
        margin-left: 0px;
    }

    .product-text h2 {
        margin-top: -2rem;
        margin-bottom: 2rem;
    }

}

@media(max-width: 576px) {
    .product-text {
        padding-left: 1rem !important;
    }
}

@media(max-width: 380px) {
    .product img {
        padding: 2rem 2rem 2rem 0;
        margin-left: -5px;
    }


}

/* TABS */

.tab {
    border: 2px solid black;
    border-bottom: 1px solid grey;
    box-shadow: inset 0px -4px 10px grey;
    border-radius: 10px 10px 0 0;
    text-align: center;
    background-color: lightgray;
    cursor: pointer;
}

.tab h5 {
    margin: 0.3rem;
    text-transform: uppercase;
    cursor: pointer;
}

.tabs {
    margin-top: 1rem;
}

.tabs::after {
    content: '';
    display: block;
    height: 1px;
    background: black;
    width: 100%;
}

.activeTab {
    background-color: var(--background);
    cursor: default;
    position: relative;
    height: calc(100% + 1px);
    border-bottom: 1px solid var(--background);
    box-shadow: 0px -8px 8px grey;
}

@media (max-width: 992px){
    .tab h5 {
        height: 2.6rem;
    }
}

@media (max-width: 768px) {
    .tab {
        border-bottom: 1px solid black;
        border-radius: 10px;
        box-shadow: none;
        margin: 0.3rem;
    }

    .tab h5 {
        height: auto;
    }

    .activeTab {
        height: 100%;
        border-bottom: 1px solid black;
        box-shadow: none;
        height: auto;
    }

    .tabs::after {
        height: 0px;
    }
}

/* MAIN BANNER */

.main-banner {
    background-image: url("../../images/banners/main_banner.jpg");
    background-size: cover;
    background-position: center;
    height: 550px;
    justify-content: space-evenly;
    flex-direction: column;
    margin: auto;
    filter: brightness(0.9);
}

@media(max-width: 992px) {
    .container-banner {
        max-width: 100% !important;
        padding: 0px !important;
    }

    .container-banner .col-12 {
        padding: 0px !important;
    }

    .container-banner .row {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}

/* .main-banner > h1 {
    background: rgb(255,255,255);
    background: linear-gradient(
        90deg,
        rgba(255,255,255,1) 0%,
        rgba(255,255,255,33%) 100%);
    left: 3%;
    position: relative;
    padding-left: 1rem;
    width: 97%;
    font-weight: 750;
    padding-top: 0.2em;
    padding-bottom: 0.3em;
} */

h1 {
    text-align: center;
}

/* HEADER */

.header {
    flex-direction: row;
    justify-content: space-between;
    background-color: lightgrey;
    filter: drop-shadow(0px 1px 15px gray);
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.phone {
    padding-left: .5rem !important;
}

.phone img {
    max-height: 1.8rem;
}

.phone a, .phone a:hover{
    display: block;
    margin: auto 0;
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 1.3rem;
}

.phone .wa, .phone .wa:hover {
    max-height: 1.8rem;
    margin: auto 0.5rem auto 0;
    line-height: 1;
}

.langs {
    justify-content: flex-end;
}

.lang {
    margin: 0 0.5rem;
    padding: 0.3rem;
}

.lang:hover {
    background: grey;
    filter: drop-shadow(0px 6px 15px gray);
    color: white;
    cursor: pointer;
}

.flag img {
    max-width: 1.3rem;
    margin-right: 0.2rem;
}

@media(max-width: 810px) {
    .lang-text {
        display: none;
    }

    .flag img {
        max-width: 1.8rem;
        margin-right: 0rem;
    }
}

@media(max-width: 520px) {
    .header {
        flex-direction: column;
        flex-direction: column-reverse;
    }

    .langs, .phone {
        width: 100% !important;
        justify-content: center;
    }

    .phone .wa, .phone .wa:hover, .phone img {
        max-height: 2.8rem;
        margin: auto .5rem;
    }

    .phone img {
        margin: 0;
    }

    .phone {
        margin: .5rem 0 !important;
    }
}

/* FOOTER */

.footer {
    height: 20vh;
    width: 100%;
    margin: 0 !important;
    filter: drop-shadow(0px 0px 15px black);
    background: var(--background-dark2);
    font-size: 1.3rem;
}

.footer > div {
    margin: auto;
}

.footer > div:first-child {
    margin: 0;
    height: 0;
}

.footer a, .footer a:hover {
    display: block;
    text-decoration: none;
    color: var(--color-dark);
    white-space: nowrap;
}

.footer p {
    color: var(--color-dark);
}

.footer .wa {
    display: inline;
}

.footer .wa img {
    height: auto;
    width: 30px;
    margin-bottom: 0.5rem;
}

@media(max-width: 430px) {
    .footer{
        font-size: 1rem;
        align-content: center;
    }
}

/* TABLE */

td {
    padding: 0 1rem;
    line-height: 1;
}

tr {
    border-bottom: 1px solid grey !important;
    background: linear-gradient(0deg, lightgrey 0%, rgba(245,245,245,1) 100%);
    height: 2.5rem;
}

tr>td:first-child {
    border-right: 1px solid grey;
}

table {
    width: 100%;
}

/* THEMS */

.themes {
    position: fixed;
    top: 5%;
    right: 0;
    z-index: 10;
    background: grey;
    width: 40px;
    height: 40px;
    border-radius: 12px 0 0 12px;
    filter: drop-shadow(2px 4px 6px black);
    display: flex;
}

.themes:hover {
    cursor: pointer;
}

.themes img {
    max-width: 25px;
    height: auto;
    margin: auto;
}

/* DARK THEME */

.dark .tab {
    box-shadow: inset 0px -4px 10px black;
    border-bottom: 1px solid black;
}

.dark .header, .dark .tab {
    background: var(--background-dark2);
}

.dark, .dark .activeTab {
    background: var(--background-dark);
    color: var(--color-dark);
}

.dark .activeTab {
    border-bottom: 1px solid var(--background-dark);
    box-shadow: 0px -8px 8px black;
}

.dark .header {
    filter: drop-shadow(0px 1px 15px black);
}

.dark .phone a {
    color: var(--color-dark);
}

.dark table, .dark .main-banner h1 {
    color: black;
}

.dark .main-banner {
    box-shadow: inset 0px 0px 30px 20px var(--background-dark);
}

/* MAIN */

body {
    margin: 0;
    padding: 0;
    background-color: var(--background) !important;
    user-select: none;
}

h1, h2, h3, h4, h5, h6{
    cursor: default;
}

html {
    height: 100%;
}

html::-webkit-scrollbar {
    width: 0;
  }

.flex {
    display: flex;
}

:root {
    --background: #f5f5f5;
    --background-dark: #212121;
    --background-dark2: #313131;
    --color-dark: #b5b5b5;
}